.todolist {
  width: 800px;
  height: 400px;
  padding-top: 10px;
}

.todolist form {
  text-align: center;
  color: #303952;
  font-weight: 500;
}

.todolist form input {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  border-bottom: none;
  width: 470px;
  height: 30px;
}

.todolist form input:focus {
  border: 1px solid #192a56;
}

.todolist form button {
  line-height: 45px;
  background-color: #f5cd79;
}

.todolist form input::placeholder {
  color: #192a56;
  font-weight: 100;
}

.todolist .pending,
.todolist .finished {
  text-align: center;
}

.todolist .pending ul,
.todolist .finished ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.todolist .pending li,
.todolist .finished li {
  text-align: center;
  margin: 10px;
  width: 350px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.7);
}

.todolist .pending h4 {
  margin-top: 10px;
  color: #ffb142;
  font-size: 1.2rem;
}

.todolist .finished h4 {
  margin-top: 10px;
  color: #341f97;
  font-size: 1.2rem;
}

.todolist li {
  font-size: 0.9rem;
}

.todolist li button {
  all: unset;
  cursor: pointer;
}
